<h2>Links</h2>

<ul id="links">
  <% @links.each do |link| %>
    <li>
      <div>
        <h3><a href="<%= link.url %>"><%= link.title %></a></h3>
        <p>Tags: <%= link.tags.map { |tag| tag.name }.join(", ") %> <a href="/links/<%= link.title.gsub(" ", "_") %>/tags/new">Add new tag</a></p>
        <p>Added by <%= link.person.email %></p>
      </div>
    </li>
  <% end %>
</ul>

<h3><a href='/links/new'>Add a new link</a></h3>

<form action="/tags" method="post">
  <label for="search_term">
    Search for a specific tag:
    <input type="text" name="search_term" id="search_term">
  </label>
  <input type="submit" value="Submit">
</form>
